/* Base styles for the application */
:root {
  /* CSS HEX */
  --federal-blue: #03045e;
  --honolulu-blue: #0077b6;
  --pacific-cyan: #00b4d8;
  --non-photo-blue: #90e0ef;
  --light-cyan: #caf0f8;
  --accent-gray: #eff0f0;
  --accent-gold: #e7c118;
  --grad: linear-gradient(
    135deg,
    var(--federal-blue),
    var(--honolulu-blue)
  ); /* bacgorund color for CTA and hero banners or overlays */
  --btn: var(--honolulu-blue); /* button color */
  --btn-hover: var(--pacific-cyan); /* button hover color */
  --text-color: var(--federal-blue); /* primary text color */
  --text-color2: var(--honolulu-blue); /* secondary text color */
  --light-cyan: #caf0f8ff;
  --text-dark: #1e1e1e;
  --text-light: #ffffff;
  --border-radius: 8px;
  --transition: all 0.3s ease;

  /* ----------------------------- */
  /* archer styles */
  --background: var(--light-cyan);
  --card-bg: var(--non-photo-blue);
  --primary: var(--federal-blue);
  --secondary: var(--honolulu-blue);
  --accent: var(--pacific-cyan);
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  /* height: auto; */
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  color: #333;
  /* scroll-behavior: smooth; */
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5rem;
}

button {
  background-color: white;
  color: var(--federal-blue);
  border: 2px solid white;
  padding: 12px 30px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover,
#clear:hover {
  background-color: white;
  color: var(--federal-blue);
  transform: scale3d(1.05, 1.05, 1);
}
/* header */

header {
  position: sticky;
  top: 0;
  background-color: rgba(244, 248, 255, 0.8);
  color: var(--federal-blue);
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

header h1 {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
}

/* hamburger */
#menu {
  display: none;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

nav ul li a {
  color: var(--federal-blue);
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--pacific-cyan);
}

.active {
  color: var(--federal-blue);
  background-color: rgb(195, 199, 202);
}

/* cta */
.cta {
  display: flex;
  gap: 20px;
}

.clear {
  background-color: rgba(1, 1, 1, 0.001);
  color: white;
}

#clear {
  background-color: var(--federal-blue);
  color: white;
  border: 2px solid var(--federal-blue);
}

.cta button:hover {
  background-color: white;
  color: var(--federal-blue);
  transform: scale3d(1.05, 1.05, 1);
}

/* triggered on scroll: start*/
.scroll {
  background-color: var(--background);
}

/* Light theme after scroll */
.header.scrolled {
  background-color: #f9f9f9;
  color: #0c1e29;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Hidden when scrolling down */
.header.hide {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.snap-section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  box-sizing: border-box;
}
/* triggered on scroll: end*/

/* fixed to top btn */
.top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--secondary);
  color: var(--text-light);
  border: 2px solid var(--text-light);
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.top-btn p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-light);
}

/* Footer */
footer {
  background-color: var(--federal-blue);
}

.divisions {
  text-align: center;
}

.divisions ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 0;
}

.divisions ul li {
  display: inline;
}

.divisions ul li a {
  /* color: white; */
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.divisions ul li a:hover {
  color: var(--pacific-cyan);
  border-bottom: 2px solid var(--pacific-cyan);
}

footer {
  display: grid;
  grid-template-rows: 2fr 1fr;
  padding: 20px 30px 10px 30px;
  background: var(--federal-blue);
  color: white;
  place-items: center;
  gap: 0;
  border-top: 2px solid var(--primary);
}

footer a {
  color: white;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 8fr;
  gap: 10px;
}

.footer-social {
  margin: 20px 0 0 0;
}
#footer-logo {
  width: 120px;
  height: auto;
}
.footer-social img {
  width: 100%;
  height: auto;
}
.social-icons {
  padding: 20px 0 0 0;
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
}
.social-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-info {
  display: flex;
  justify-content: space-evenly;
  /* gap: 20px; */
}
.footer-info h2 {
  border-bottom: 3px solid var(--accent);
  width: 130px;
}
#contact-info {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin: 0;
  padding: 0;
}
.footer-contact h3 {
  margin: 0;
  padding: 0;
}
.links {
  display: flex;
  flex-direction: column;
}
.links a {
  line-height: 30px;
}
.links a:hover {
  border-bottom: 2px solid var(--accent);
}

/* Animations */

/* Write letter by letter animation: buggy */
.typewriter {
  overflow: hidden;
  border-right: 2px solid var(--accent);
  white-space: nowrap;
  letter-spacing: 2px;
  animation: typing 3s steps(30, end), blink 0.75s step-end infinite;
  width: 0; /* Start with no width */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Slide in from the left animation */
.slide-in-left {
  opacity: 0;
  transform: translateX(-200px);
  animation: slideLeft 2s ease-out forwards;
}

@keyframes slideLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Slide in from the right animation */
.slide-in-right {
  opacity: 0;
  transform: translateX(100px);
  animation: slideRight 2s ease-out forwards;
}

@keyframes slideRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animated-headline span {
  opacity: 0;
  transform: translateY(20px);
  display: inline-block;
  animation: fadeInWords 0.6s ease forwards;
}

.animated-headline span:nth-child(1) {
  animation-delay: 0.2s;
}
.animated-headline span:nth-child(2) {
  animation-delay: 0.4s;
}
.animated-headline span:nth-child(3) {
  animation-delay: 0.6s;
}
.animated-headline span:nth-child(4) {
  animation-delay: 0.8s;
}
.animated-headline span:nth-child(5) {
  animation-delay: 1s;
}
.animated-headline span:nth-child(6) {
  animation-delay: 1.2s;
}

@keyframes fadeInWords {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* media queries */

/* Base styles for the application */
@media screen and (max-width: 500px) {
  /* header */
  header {
    position: relative;
    padding: 10px 10px 0 20px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }
  header h1 {
    font-size: 1.4rem;
    text-align: center;
  }

  /* hamburger */
  #menu {
    display: block;
    position: absolute;
    top: 10px;
    text-decoration: none;
    color: var(--federal-blue);
    right: 30px;
  }
  #menu::before {
    content: "≡";
    font-size: 3rem;
    font-weight: 700;
    padding-right: 0;
    background-color: inherit;
    color: var(--card-color);
  }
  #menu.show::before {
    content: "✖";
    font-size: 3rem;
  }

  /* nav */
  nav,
  #nav-cta {
    display: none;
  }
  nav.show {
    display: flex;
    /* position: relative; */
  }
  nav.show ul {
    background-color: rgba(244, 248, 255, 0.8);
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin: 0;
    transition: all 1s ease-out;
  }
  li {
    padding-bottom: 20px;
  }
  li a {
    font-size: 70px;
  }

  /* footer */
  .footer-grid {
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }
  .divisions ul,
  .footer-info {
    flex-direction: column;
  }
  .divisions ul {
    gap: 10px;
  }
 .footer-social{
    margin: 0 auto;
    /* place-content: center; */
  }
}

/* utility classes */
.hide {
  display: none;
}
