/* main */

#arch-page section {
  padding: 60px 30px 0 30px;
}

/* hero */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 15, 119, 0.6);
  z-index: -1;
}
.hero {
  position: relative;
  width: 95%;
  height: 110vh;
  background-image: url("../images/cityscape.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
  color: white;
  z-index: 0;
}
.hero h1 {
  font-size: 5rem;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  line-height: 5.4rem;
  max-width: 60%;
  text-align: center;
  margin: 0 auto;
}
.archer {
  color: var(--accent-gold);
}
.hero p {
  font-size: 1.2rem;
  max-width: 60%;
  text-align: center;
  margin: 20px auto 0;
}
.hero .cta {
  flex-direction: row-reverse;
}
.metrics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  border-top: 2px solid white;
  margin-top: 20px;
  padding-top: 40px;
  width: 80%;
}
.metric {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  place-items: center;
}
.gold {
  color: var(--accent-gold);
  font-size: 2rem;
  font-weight: bolder;
}
.metric p {
  font-size: 1rem;
}

/* intro section */
#arch-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
}

#arch-intro img {
  width: 100%;
  aspect-ratio: 9/10;
  border-radius: 40px;
}

#arch-intro div {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  align-items: center;
}

#arch-intro h1 {
  font-size: 3.5rem;
  font-weight: bolder;
  line-height: 3.6rem;
}

#arch-intro span {
  color: var(--accent-gold);
}

#arch-intro p {
  font-size: 1.4rem;
  line-height: 1.5rem;
}

#arch-intro div div {
  flex-direction: row;
}

.arch-cta1 button {
  border: 2px solid var(--federal-blue);
}

.arch-cta1 button.clear {
  background-color: var(--federal-blue);
}

.arch-cta1 button.clear:hover {
  background-color: white;
}

/* projects */

.arch-vision,
.services-sect {
  display: flex;
  flex-direction: column;
  gap: 20px;
  place-items: center;
  border-top: 2px solid var(--federal-blue);
  margin-top: 40px;
  padding-top: 0;
}

.arch-vision h3,
.services-sect h3 {
  font-size: 3.3rem;
  font-weight: bolder;
  color: var(--federal-blue);
  margin: 0;
  padding: 0;
}

.arch-vision p,
.services-sect p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 500;
  /* max-width: 800px; */
  text-align: center;
  width: 70%;
}

/* projects */
.arch-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.arch-projects a {
  text-decoration: none;
  color: inherit;
}

.arch-proj {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px 20px 0 0;
  z-index: 0;
  background: #ffffff;
  padding-bottom: 20px;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  transition: all 1s ease;
  overflow: hidden;
}

.arch-proj:hover {
  transform: translateY(-20px);
}

.arch-proj:hover img {
  transition: all 1s ease;
}

.arch-proj:hover img {
  /* object-fit: contain; */
  transform: scaleX(1.5);
}

.arch-proj .image {
  position: relative;
}

.arch-proj .overlay {
  position: absolute;
  top: 0;
  border-radius: 20px 20px 0 0;
  z-index: 1;
}

.arch-proj .tag {
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 5px 10px;
  border-radius: 30px;
  background-color: var(--accent-gold);
  color: aliceblue;
  font-size: 14px;
  z-index: 1000;
  width: 30%;
}

.arch-proj .image button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  z-index: 2;
}

.arch-proj .image button:hover {
  background-color: var(--federal-blue);
  color: white;
  transform: translate(-50%, -50%) scale(1.05);
}

.arch-proj .image img {
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: 20px 20px 0 0;
}

.arch-proj-info {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: left;
  text-align: left;
}

.arch-proj-info h2 {
  font-size: 1.2rem;
  font-weight: 800;
}

.arch-proj-info p {
  font-size: 1rem;
  color: rgb(112, 112, 112);
  line-height: 1.2rem;
  text-align: left;
  padding: 0;
  margin-bottom: 1px;
}

.arch-proj .overlay .hide,
.arch-proj .image button .hide {
  display: none;
}

#all-projs button {
  background-color: var(--federal-blue);
  color: aliceblue;
}

/* services */

.services-sect {
  background-color: var(--accent-gray);
  border: none;
  margin-bottom: 0;
}

.contact-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 20px; */
  padding: 0 0 30px 0;
}
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 50px;
  width: 100%;
  padding-bottom: 60px;
  margin-bottom: 0;
}

.service {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1px;
  z-index: 0;
  background: #ffffff;
  padding-bottom: 20px;
  transition: all 1s ease;
  overflow: hidden;
  text-align: center;
  padding: 30px 10px;
  margin: 0;
  width: 45vw;
}

.service:hover {
  transform: translateY(-20px);
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.service .icon {
  background-color: var(--federal-blue);
  color: aliceblue;
  max-width: 30px;
  font-size: 40px;
  height: auto;
  padding: 20px 20px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 10px;
}

.service h4 {
  font-size: 1.4rem;
}

.service p {
  text-align: center;
  font-size: 1rem;
  margin: 0 auto;
  width: 80%;
}

/* media queries */
@media screen and (max-width: 500px) {
  /* main content */
  main {
    width: 95%;
    margin: 0 auto;
  }

  #arch-page section {
    padding-left: 0;
    padding-right: 0;
  }

  /* hero */
  .hero {
    height: 600px;
    padding: 0;
    width: 100%;
  }
  .overlay {
    width: 100vw;
  }
  .hero h1,
  #arch-intro h1 {
    font-size: 2rem;
    line-height: 2.6rem;
    max-width: 100%;
  }
  .hero p {
    max-width: 90%;
  }

  /* intro section */
  #arch-intro {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 0;
  }

  /* services */
  .services {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .service {
    width: 80vw;
    border-radius: 10px;
  }

  /* projects */
  .arch-vision h3,
  .services-sect h3 {
    font-size: 2.5rem;
  }
  .arch-vision p,
  .services-sect p {
    font-size: 1.1rem;
    width: 90%;
  }
  .arch-projects {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .arch-proj {
    width: 80vw;
    border-radius: 10px;
  }
}